.nav {
  position: fixed !important;
  width: 100%;
  z-index: 1;
  background-color:	rgb(254, 241, 238)
}

.brand {
  color:rgba(189, 77, 76, 1) !important;
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-weight: 1000; 
}
.brand>img {
  padding: 7px 14px;
}
.link {
  font-weight: 300;
  float: right !important;
}
